/* ======= Pixel Art Title ======= */

.canvas {
  /* Perfectly square */
  width: 80px;
  height: 80px;
}

.pixel {
  /* We'll need 256 total pixels in our HTML */
  width: 5px;
  height: 5px;
  float: left;
}
/* ======= /Pixel Art Title ======= */

.row {
  margin: 0 0 0 1.5rem;
}

#mainGrid {
  flex-wrap: nowrap;
}

#bottomGrid {
  flex-wrap: nowrap;
  text-align: center;
}

.centralBottomGrid {
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bottomComponents {
  margin: 0 auto;
  text-align: center;
}
.progress-bar {
  border-radius: 2rem;
  border: .2rem solid rgba(7, 55, 77, 0.673);
  height: 80%;
}

figure {
  position: fixed;
}

.weapons {
  float: right;
}

.bottom {
  width: 600px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
